%h1 Delete Existing Movie

= form_tag deleteByRating_path, :method => :post do
  = label :movie, :rating, 'Search using existing rating'
  = select :movie, :rating, ['G','PG','PG-13','R','NC-17']
  
  = submit_tag 'Delete Movie'